<ol class="breadcrumb">
  <li>Accueil</li>
  <li class="active">Gestion Employés</li>
</ol>
<h1 class="page-title">Gestion - <span class="fw-semi-bold">Employés </span></h1>

<div>
  <div class="clearfix mb-lg">
    <div class="btn-group m-b-20">
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'all'}"
              data-ng-click="activeGroup = 'all'">Tous</span>
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'ROLE_COMMERCIAL'}"
              data-ng-click="activeGroup = 'ROLE_COMMERCIAL'">Commerciaux</span>
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'ROLE_PROSPECTEUR'}"
              data-ng-click="activeGroup = 'ROLE_PROSPECTEUR'">Prospecteurs</span>
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'ROLE_MANAGER'}"
              data-ng-click="activeGroup = 'ROLE_MANAGER'">Manager</span>
    </div>
    <div class="pull-right m-b-20">
      <div class="btn-group">
                <span class="btn btn-default" data-ng-class="{'active': order == 'asc'}"
                      data-ng-click="order = 'asc'"><i class="fa fa-sort-numeric-asc"></i></span>
                <span class="btn btn-default"  data-ng-class="{'active': order == 'desc'}"
                      data-ng-click="order = 'desc'"><i class="fa fa-sort-numeric-desc"></i></span>
      </div>
    </div>
  </div>


  <div class="row gallery"
       data-sn-gallery data-options="{ itemSelector: '.gallery-item'}"
       data-ui-options="{ delegate: '.thumbnail > a',  type: 'image', gallery: { enabled: true  } }">
    <div data-ng-repeat="item in items"
         class="col-sm-6 col-md-3 gallery-item" data-groups='{{item.roles}}' data-title="{{item.nom}}">
         <a ui-sref="app.profile({userType:item.roles, userId: item.idEmploye})">
      <div class="thumbnail">
        <img data-ng-src="{{item.photo}}" alt="...">
        <div class="caption">
          <h5 class="mt-0 mb-xs">{{item.prenom}} {{item.nom}} </h5>
        </div>
      </div></a>
    </div>
    <div class="col-sm-6 col-md-3 js-shuffle-sizer"></div>
  </div>
</div>

<!--<ol class="breadcrumb">
  <li>Accueil</li>
  <li class="active">Gestion Employés</li>
</ol>
<h1 class="page-title">Gestion - <span class="fw-semi-bold">Employés </span></h1>

<div>
  <div class="clearfix mb-lg">
    <div class="btn-group m-b-20">
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'all'}"
              data-ng-click="activeGroup = 'all'">Tous</span>
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'ROLE_COMMERCIAL'}"
              data-ng-click="activeGroup = 'ROLE_COMMERCIAL'">Commerciaux</span>
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'ROLE_PROSPECTEUR'}"
              data-ng-click="activeGroup = 'ROLE_PROSPECTEUR'">Prospecteurs</span>
        <span class="btn btn-default" data-ng-class="{'active': activeGroup == 'ROLE_MANAGER'}"
              data-ng-click="activeGroup = 'ROLE_MANAGER'">Manager</span>
    </div>
    <div class="pull-right m-b-20">
      <div class="btn-group">
                <span class="btn btn-default" data-ng-class="{'active': order == 'asc'}"
                      data-ng-click="order = 'asc'"><i class="fa fa-sort-numeric-asc"></i></span>
                <span class="btn btn-default"  data-ng-class="{'active': order == 'desc'}"
                      data-ng-click="order = 'desc'"><i class="fa fa-sort-numeric-desc"></i></span>
      </div>
    </div>
  </div>


  <div class="row gallery" data-ui-jq="magnificPopup"
       data-sn-gallery data-options="{ itemSelector: '.gallery-item'}"
       data-ui-options="{ delegate: '.thumbnail > a',  type: 'image', gallery: { enabled: true  } }">
    <div data-ng-repeat="item in items"
         class="col-sm-6 col-md-3 gallery-item" data-groups='{{item.roles}}' data-title="{{item.nom}}">
         <a ui-sref="app.profile({userType:item.roles, userId: item.idEmploye})">
      <div class="thumbnail">
        <img data-ng-src="{{item.photo}}" alt="...">
        <div class="caption">
          <h5 class="mt-0 mb-xs">{{item.prenom}} {{item.nom}} </h5>
        </div>
      </div></a>
    </div>
    <div class="col-sm-6 col-md-3 js-shuffle-sizer"></div>
  </div>
</div>
-->